:root {
    --color-brand-light: #cfcfcb;
    --color-brand-normal: #819B57;
    --color-brand-dark: #465929;
    --color-primary-light: #faf4ea;
    --color-primary-dark: #31261A;
    --color-secondary-dark: #A18268;
  


}