.footer {
    position: relative;
    padding: 32px 0;
    background-image: url(../../images/footer-bg.png);
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer::before,
.footer::after {
    background-repeat: no-repeat;
    bottom: 0;
    position: absolute;
    content: '';
}


.footer::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url(../../images/decor-bread-small.png);
}

.footer::after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url(../../images/decor-bread-large.png);
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-address {
    flex-basis: 50%;
    display: flex;
    gap: 20px;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
    gap: 20px;
}

.address-list,
.address-info {
    flex-grow: 1;

}

.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-icons {
    fill: var(--color-primary-light);
}

.address-icons:hover {
    fill: var(--color-brand-normal);

}

.address-link:hover {
    color: var(--color-brand-normal);

}

.address-copyright {
    font-size: 14px;
    color: #A18268;
    ;
}