@forward "advantages-section";
@forward "buttons";
@forward "chefs-section";
@forward "contact-section";
@forward "footer";
@forward "formats-section";
@forward "header";
@forward "hero-section";
@forward "links";
@forward "modal";
@forward "traditions-section";

