.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    padding: 128px;
    overflow-y: auto;
}

.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;

}

/* Form modal */
.form-field {
    margin-bottom: 32px;
}

.form-label {
    display: block;

}

.form-input {
    padding: 16px 42px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
    background-color: transparent;
}

.form-input:focus {
    border-color: var(--color-brand-normal);
    outline: none;
}

.form-input::placeholder {
    color: var(--color-secondary-dark);
    font-size: 16px;
    line-height: 1.17;

}

.form-input:focus::placeholder {
    color: var(--color-primary-dark);
}

.form-button {
    display: block;
    margin: 0 auto 24px;
}

.form-terms {
    margin: 0 auto;
    max-width: 220px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
}

.form-terms-link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
}