@use "../utils/variables" as *;

.chefs-section{
    &__title {
    margin: 0 auto 24px;
    position: relative;

    @media screen and (min-width: $bp-desktop){
        margin-bottom: 80px;
    }

    &::before,
    &::after {
            display: none;
            position: absolute;
            bottom: 24px;
            width: 352px;
            border: 2px solid var(--color-brand-dark);
            content: "";

             @media screen and (min-width: $bp-desktop){
                display: block;
            }
        }
    
        &::before {
    
            left: 0;
    
        }
    
        &::after {
    
            right: 0;
    
        }
}


&__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;

    @media screen and (min-width: $bp-desktop) {
        flex-direction: row;
            gap: 40px 30px;
        }
}

&__item {

    @media screen and (min-width: $bp-desktop) {
        flex-basis: calc((100% - 30px)/2);
    }

   

}
}






