@use "../utils/variables" as *;

.contact-section {
    padding-bottom: 96px;

    &__container {
            display: flex;
            flex-direction: column;
            gap: 24px;

            @media screen and (min-width: $bp-desktop) {
            
                flex-direction: row;
                gap: 32px;
                }
        }

        &__title {
            margin-bottom: 8px;
                text-align: center;
            
                @media screen and (min-width: $bp-desktop) {
                    margin-bottom: 16px;
                }
        }

        &__form-field {
            margin-bottom: 24px;
        }
        &__map {
            flex-shrink: 0;
            margin: 0 -24px;
            height: 176px;
            border: none;
            border-radius: 16px;
            @media screen and (min-width: $bp-desktop) {
                margin: auto;
                    width: 603px;
                    height: 595px;
                }
        }

    &__button {
        display: block;
        margin: 0 auto 16px;

       
    }
}




