@use "../utils/variables";
.mobile-menu{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-light);
    transform: translateX(100%);
    transition: transform 0.3s ; 


    &.is-open {
        transform: translateX(0);
    }
     
    &__container{
        padding: 16px 24px;
    }

    &__logo {
        
        margin-bottom: 32px; 
    }
        &__nav {
           
            display: flex;
            flex-direction: column;
           
        }

                &__menu {
                        display: flex;
                        
                    
                }

         &__btn-close {
             background-color: transparent;
             border: none;
             position: absolute;
             top: 40px;
             right: 40px;
             stroke: var(--color-brand-light);
             fill: none;
         }

         
         
}

