@use '../utils/variables' as *;

.backdrop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: opacity 0.3s, visibility 0.3s;

   
    &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}
}

.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 750px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    padding: 48px ;
    overflow-y: auto;
    

    @media screen and (min-width: $bp-desktop){
        padding: 128px;
    }

         &__title {
             text-align: center;
             font-weight: 900;
             font-size: 64px;
             line-height: 1.3;
             margin-bottom: 8px;
             white-space: nowrap;
    
    
         }

                 &__text {
                     text-align: center;
                     margin-bottom: 72px;
                 }

        &__btn-close {
            background-color: transparent;
            border: none;
            position: absolute;
            top: 40px;
            right: 40px;
            stroke: var(--color-brand-light);
            fill: none;
        }

    &__form-field {
        margin-bottom: 32px;
    }
    
    &__button {
        margin: 0 auto 24x;
    }

        &::after {
            background-repeat: no-repeat;
            bottom: 0;
            position: absolute;
            content: '';
            width: 150px;
            height: 224px;
            right: 0;
            pointer-events: none;
            background-image: url(../../../images/modal-bread.png);
        }
}


   

